---
layout: default
---

<div class="posts">
  <!-- Display sticky posts first without truncation-->
  {% for post in site.categories.sticky %}
  <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        {{ post.content }}
      </div>
  </article>
  {% endfor %}
  <!-- Non-sticky posts with truncation -->
  {% for post in site.posts %}
    <!-- Test for sticky category -->
    {% assign sticky = false %}
    {% for cat in post.categories %} <!-- roll through this pages categories to find if it is sticky -->
      {% if cat == 'sticky' %}
        {% assign sticky = true %}
      {% endif %}
    {% endfor %}
    {% unless sticky %} <!-- Only show non-sticky posts -->
    <article class="post">    
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endunless %}
  {% endfor %}
</div>
