---
layout: default
---
<script>
var xhr = new XMLHttpRequest();
//var url = 'https://api.meetup.com/Open-Data-STL/events/psjxklytpbgc?photo-host=public&sig_id=141516192&sig=494f9a6d04128d330d5fd331bca77e011f6dec38';
var url="https://api.meetup.com/Open-Data-STL?photo-host=public&sig_id=141516192&sig=3634a6a7d63920210b676cef02381cacd186100a"
xhr.open('GET', url, true);

// If specified, responseType must be empty string or "text"
xhr.responseType = 'text';

xhr.onload = function () {
    if (xhr.readyState === xhr.DONE) {
        if (xhr.status === 200) {
            console.log(xhr.response);
            console.log(xhr.responseText);
        }
    }
};
xhr.send();
var next = "next"
var statement = "<p>Our next meeting is happening at <time>"+next+"</time><p>";
document.querySelector("#next").innerHTML=statement;

</script>
<article id='next'> 
    
</article>
<div class="posts">
  <!-- Display sticky posts first without truncation-->
  {% for post in site.categories.sticky %}
  <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        {{ post.content }}
      </div>
  </article>
  {% endfor %}
  <!-- Non-sticky posts with truncation -->
  {% for post in site.posts %}
    <!-- Test for sticky category -->
    {% assign sticky = false %}
    {% for cat in post.categories %} <!-- roll through this pages categories to find if it is sticky -->
      {% if cat == 'sticky' %}
        {% assign sticky = true %}
      {% endif %}
    {% endfor %}
    {% unless sticky %} <!-- Only show non-sticky posts -->
    <article class="post">    
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endunless %}
  {% endfor %}
</div>
