---
layout: default
---

{% for a in site.data.authors %}{% if a.display_name == page.author %}
  {% assign author = a %}
{% endif %}{% endfor %}
<article class="post">
  <h1>{{ page.title }}</h1>
  {% if author != null %}
  <h2>by {{ author.display_name }}</h2>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% if author != null %}
  {% include author.html %}
  {% endif %}

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
